.handle {
    background-color: #417896;
    opacity: 80%;
}

.handle-right {
    margin-right: -5px;
}

.handle-left {
    margin-left: -5px;
}

.handle-top {
    margin-top: -5px;
}

.handle-bottom {
    margin-bottom: -5px;
}

.handle-resizer {
    height: 0.75rem !important;
    width: 0.75rem !important;
    background-color: #eee !important;
    border-color: #417896 !important;

}

.line-resizer {
    background-color: #ea580c;
    border: 2px !important;
}